.faculty-advantages
    background: #EFF2F9
    padding-top: 80px
    .container
        position: relative

    h2
        text-align: center
    .chart-pie
        width: 150px
        position: absolute
        bottom: -75px
        left: 70px