.diploms
    background: #EFF2F9
    .container
        position: relative
        padding: 100px
        display: flex
    .text-area
        width: 50%
        h2
            margin-bottom: 60px
        h3
            font-size: 24px
            font-weight: 800
        p
            margin-top: 20px
            font-weight: 400
    .img-diploms-wrap
        width: 50%
        display: grid
        grid-template-columns: repeat(3, 1fr)
        justify-items: center
        gap: 90px 0
        .img-diploms
            background: #fff
            width: 150px
            height: 95%
            cursor: zoom-in
            img
                display: block
                margin: 0 auto
                transform: translateY(-20px)
        .img-bg
            position: absolute
            right: -150px
            top: -140px
            width: 240px