*
    font-family: "Gilroy"
    
.container
    width: 1320px
    margin: 0 auto

a
    text-decoration: none
    color: #000
    &:hover
        color: #b19377
        

ul
    margin: 0
    padding: 0    
li
    list-style-type: none

h2
    font-size: 60px
    font-weight: 800
    color: #000
    span
        color: #714A25

.btn-link
    display: flex
    justify-content: center
    align-items: center
    height: 55px
    width: max-content
    padding: 0 25px
    background: #003ADC
    color: #fff
.wrap-advantage-item
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 60px
    padding-bottom: 110px
    gap: 10px
    width: 1100px
    margin: 0 auto
    .advantage-item
        display: flex
        align-items: center
        padding: 15px
        background: #fff
        img
            margin-right: 15px
            height: 60px
            width: 60px
        p
            font-weight: 600
            font-size: 14px