.partners-co
    padding-top: 140px
    h2
        text-align: center
    .wrap-company-logos
        padding: 100px 100px 150px 100px
        display: flex
        flex-wrap: wrap
        justify-content: center
        img
            box-sizing: border-box
            padding: 0 50px
            width: 25%
            height: 60px
            margin-bottom: 50px
        
        
        
